@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
* {
  font-family: 'Nunito', sans-serif !important;
  box-sizing: border-box;
}

html {
  /* font-size: 1.707577374599787vh; */
  height: 100%;
}

body {
  height: inherit;
  -moz-osx-font-smoothing: grayscale;
}


#root {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.fullHeight {
  height: 100%;
}